* {
	/* margin: 0;
	padding: 0; */
	box-sizing: border-box;
}

.clearfix {
	content: '';
	display: table;
	clear: both;
}

body {
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
}

.container {
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
}

img {
	width: 150px;
}

.col {
	float: left;
	/*	width: 33.3%;
	padding: 1rem; */
	width: calc(33.3% - 2rem);
	margin: 1rem;
	background-color: salmon;
	text-align: center;
}